<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head> 
    <meta charset="utf-8"> 
    <title>top news feed</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/style.css' %}">
    <script src="{% static 'news/js/joski.js' %}"></script>
</head>

<body onload=" formanim(); anim();">
    <div class="jumbotron" style="color:black"> 
      <h1 style ="color:white">
        HeadlineNews
      </h1> 
        
        {% block sidebar %}
                    <ul class="sidebar_nav">
                        <li><a href="{% url 'news:home' %}">Home</a></li>
                        <li><a href="{% url 'news:index' %}">Headlines</a></li>
                        <li><a href="{% url 'news:about' %}">About</a></li>

                    </ul>
        {% endblock %}
    </div> 
    {% block content %}{% endblock %}
                    {% block pagination %}
                        {% if is_paginated %}
                            <div class="pagination">
                                <span class="page-links">
                                    {% if page_obj.has_previous %}
                                        <a href="{{ request.path }}?path={{ page_obj.previous_page_nummber }}">&#10094</a>
                                    {% endif %}
                                    <span class="page-current">
                                        Page{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.has_next %}
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&#10095</a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    {% endblock %}
    <footer>
        &copy; news services 2022.
    </footer>
</body>
</html>

