{% extends 'news/base.html' %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center text-secondary"><u>📰 All Current News Updates 🌍</u></h1>
    <div class="row">
        {% for new, des, i, url, time in mylist %}
            <div class="col-md-6 mx-auto my-3">
                <div class="card bg-dark text-white shadow-lg">
                    <img src="{{ i }}" class="card-img-top img-fluid" alt="{{ new }}">
                    <div class="card-body">
                        <h4 class="card-title">📰 {{ new }}</h4>
                        <p class="card-text">{{ des }}</p>
                        <p class="text-muted"><small>⏰ Published: {{ time }}</small></p>
                        <a href="{{ url }}" class="btn btn-primary btn-sm" target="_blank">Read More 📖</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
